### READ ME

Use the code blocks below to answer each quiz question. Only print the output required for each question. Do not edit the comments at the top of each code cell. Otherwise, the auto-grader may misinterpret your results. See Question 0 as an an example of how to complete a task (leave it in your notebook; don't delete it):

In [24]:
# Question 0: Create a DataFrame with three rows and four columns. Name the 
# columns 'Col1', 'Col2', 'Col3', 'Col4'. Create an index for the DataFrame
# and give the rows the index values of 'Row1', 'Row2', 'Row3'. Place a value
# in each column equal to the {ColumnName/RowName}. e.g. Col1/Row1. Print
# the entire DataFrame.

import pandas as pd

df = pd.DataFrame(columns=['Col1', 'Col2', 'Col3', 'Col4'], index=['Row1', 'Row2', 'Row3'])

for col in df:
  for i, value in df[col].items():
    df.at[i, col] = f'{i}/{col}'

df

           Col1       Col2       Col3       Col4
Row1  Row1/Col1  Row1/Col2  Row1/Col3  Row1/Col4
Row2  Row2/Col1  Row2/Col2  Row2/Col3  Row2/Col4
Row3  Row3/Col1  Row3/Col2  Row3/Col3  Row3/Col4

In [25]:
# Question 1: 

# Read each dataset into its own DataFrame; e.g. df_projects, df_resources, df_schools, etc.
# NOTE: donors.db contains a single table called "donors"
# print the columns found in each DataFrame in any order you want

import pandas as pd
import pyodbc
import sqlite3

#donors
conn = sqlite3.connect('donors.db')
df_donors = pd.read_sql(sql="SELECT * FROM donors", con=conn)
print('donors')
print(df_donors.columns)
print('___________________________________')

#donations
df_donations = pd.read_json('donations.json')
print('donations')
print(df_donations.columns)
print('___________________________________')

#projects
df_projects = pd.read_csv('projects.csv')
print('projects')
print(df_projects.columns)
print('___________________________________')

#resources
df_resources = pd.read_csv('resources.csv')
print('resources')
print(df_resources.columns)
print('___________________________________')

#schools
df_schools = pd.read_csv('schools.csv')
print('schools')
print(df_schools.columns)
print('___________________________________')

#teachers
df_teachers = pd.read_csv('teachers.csv')
print('teachers')
print(df_teachers.columns)
print('___________________________________')

donors
Index(['Donor ID', 'Donor City', 'Donor State', 'Donor Is Teacher'], dtype='object')
___________________________________
donations
Index(['Project ID', 'Donation ID', 'Donor ID',
       'Donation Included Optional Donation', 'Donation Amount',
       'Donor Cart Sequence', 'Donation Received Date'],
      dtype='object')
___________________________________
projects
Index(['Project ID', 'School ID', 'Teacher ID',
       'Teacher Project Posted Sequence', 'Project Type', 'Project Title',
       'Project Essay', 'Project Short Description', 'Project Need Statement',
       'Project Subject Category Tree', 'Project Subject Subcategory Tree',
       'Project Grade Level Category', 'Project Resource Category',
       'Project Cost', 'Year', 'Month', 'Weekday', 'Project Current Status',
       'Days to Funded', 'Days Live'],
      dtype='object')
___________________________________
resources
Index(['Project ID', 'Resource Item Name', 'Resource Quantity',
       'Resource Unit Price', 'Resource Vendor Name'],
      dtype='object')
___________________________________
schools
Index(['School ID', 'School Name', 'School Metro Type',
       'School Percentage Free Lunch', 'School State', 'School Zip',
       'School City', 'School County', 'School District'],
      dtype='object')
___________________________________
teachers
Index(['Teacher ID', 'Teacher Prefix', 'Teacher First Project Posted Date'], dtype='object')
___________________________________

In [26]:
# Question 2: 

# Merge the six DataFrames into a single DataFrame called df
# Infer the primary key/foreign key relationships based on connecting matching column ID names
# Print the complete column list of df
# Print the first five records

df = pd.merge(df_donors, df_donations, how='inner', on=['Donor ID'])
df = pd.merge(df, df_projects, how='inner', on=['Project ID'])
df = pd.merge(df, df_resources, how='inner', on=['Project ID'])
df = pd.merge(df, df_schools, how='inner', on=['School ID'])
df = pd.merge(df, df_teachers, how='inner', on=['Teacher ID'])

print(df.columns)

pd.set_option('display.max_columns', 1000)

df.head(5)

Index(['Donor ID', 'Donor City', 'Donor State', 'Donor Is Teacher',
       'Project ID', 'Donation ID', 'Donation Included Optional Donation',
       'Donation Amount', 'Donor Cart Sequence', 'Donation Received Date',
       'School ID', 'Teacher ID', 'Teacher Project Posted Sequence',
       'Project Type', 'Project Title', 'Project Essay',
       'Project Short Description', 'Project Need Statement',
       'Project Subject Category Tree', 'Project Subject Subcategory Tree',
       'Project Grade Level Category', 'Project Resource Category',
       'Project Cost', 'Year', 'Month', 'Weekday', 'Project Current Status',
       'Days to Funded', 'Days Live', 'Resource Item Name',
       'Resource Quantity', 'Resource Unit Price', 'Resource Vendor Name',
       'School Name', 'School Metro Type', 'School Percentage Free Lunch',
       'School State', 'School Zip', 'School City', 'School County',
       'School District', 'Teacher Prefix',
       'Teacher First Project Posted Date'],
      dtype='object')

,Donor ID,Donor City,Donor State,Donor Is Teacher,Project ID,Donation ID,Donation Included Optional Donation,Donation Amount,Donor Cart Sequence,Donation Received Date,School ID,Teacher ID,Teacher Project Posted Sequence,Project Type,Project Title,Project Essay,Project Short Description,Project Need Statement,Project Subject Category Tree,Project Subject Subcategory Tree,Project Grade Level Category,Project Resource Category,Project Cost,Year,Month,Weekday,Project Current Status,Days to Funded,Days Live,Resource Item Name,Resource Quantity,Resource Unit Price,Resource Vendor Name,School Name,School Metro Type,School Percentage Free Lunch,School State,School Zip,School City,School County,School District,Teacher Prefix,Teacher First Project Posted Date
0,09762b95beeebf373350f5c5d7cce352,Spanish Fork,other,No,5a6d12aaa92eed3858fca54bd2f69f9c,54c4cdf9bf3dd81242a0985de75eaec7,Yes,15.0,2,2013-02-11 13:22:50,005d6d2a801bda4fb6c1cb8f00219405,fa1a46ab06c6528247262f75b67c0db6,2,Teacher-Led,Shark Teachers: Learning Organ Systems Through...,Have you ever tried to help 14-year-olds under...,Have you ever tried to help 14-year-olds under...,My students need 50 shark specimens to study o...,Math & Science,Health & Life Science,Grades 6-8,Supplies,706.99,2013,2,Friday,Fully Funded,10.0,118,shark +27&quot; - plain 10/pail pack,5.0,112.5,Sargent-Welch,Eastmont Middle School,suburban,31.0,Utah,84094,Sandy,Salt Lake,Canyons School District,Mrs.,2011-10-18
1,0c47295a9944e27b83635049227da61e,None,Utah,No,5a6d12aaa92eed3858fca54bd2f69f9c,42a14070b5162cf3bd5f997d5f473386,Yes,40.0,1,2013-02-17 23:47:42,005d6d2a801bda4fb6c1cb8f00219405,fa1a46ab06c6528247262f75b67c0db6,2,Teacher-Led,Shark Teachers: Learning Organ Systems Through...,Have you ever tried to help 14-year-olds under...,Have you ever tried to help 14-year-olds under...,My students need 50 shark specimens to study o...,Math & Science,Health & Life Science,Grades 6-8,Supplies,706.99,2013,2,Friday,Fully Funded,10.0,118,shark +27&quot; - plain 10/pail pack,5.0,112.5,Sargent-Welch,Eastmont Middle School,suburban,31.0,Utah,84094,Sandy,Salt Lake,Canyons School District,Mrs.,2011-10-18
2,d58e0de79e4530c2dca3816da98513b7,New York,New York,No,5a6d12aaa92eed3858fca54bd2f69f9c,5f2688e1a5881b0fc743c4d10e2d5c6b,No,15.0,1,2013-02-17 18:50:07,005d6d2a801bda4fb6c1cb8f00219405,fa1a46ab06c6528247262f75b67c0db6,2,Teacher-Led,Shark Teachers: Learning Organ Systems Through...,Have you ever tried to help 14-year-olds under...,Have you ever tried to help 14-year-olds under...,My students need 50 shark specimens to study o...,Math & Science,Health & Life Science,Grades 6-8,Supplies,706.99,2013,2,Friday,Fully Funded,10.0,118,shark +27&quot; - plain 10/pail pack,5.0,112.5,Sargent-Welch,Eastmont Middle School,suburban,31.0,Utah,84094,Sandy,Salt Lake,Canyons School District,Mrs.,2011-10-18
3,f91e212cb706479a8770a6af883413f3,Las Vegas,Nevada,No,5a6d12aaa92eed3858fca54bd2f69f9c,4f8c581492aa623328ece2058436a5b8,Yes,50.0,1,2013-02-17 23:29:46,005d6d2a801bda4fb6c1cb8f00219405,fa1a46ab06c6528247262f75b67c0db6,2,Teacher-Led,Shark Teachers: Learning Organ Systems Through...,Have you ever tried to help 14-year-olds under...,Have you ever tried to help 14-year-olds under...,My students need 50 shark specimens to study o...,Math & Science,Health & Life Science,Grades 6-8,Supplies,706.99,2013,2,Friday,Fully Funded,10.0,118,shark +27&quot; - plain 10/pail pack,5.0,112.5,Sargent-Welch,Eastmont Middle School,suburban,31.0,Utah,84094,Sandy,Salt Lake,Canyons School District,Mrs.,2011-10-18
4,a0a11cc31b74779c756f9c4c12c06519,None,Ohio,No,5a6d12aaa92eed3858fca54bd2f69f9c,2188f030905528fe4781133fcf15ade7,Yes,10.0,1,2013-02-11 13:34:32,005d6d2a801bda4fb6c1cb8f00219405,fa1a46ab06c6528247262f75b67c0db6,2,Teacher-Led,Shark Teachers: Learning Organ Systems Through...,Have you ever tried to help 14-year-olds under...,Have you ever tried to help 14-year-olds under...,My students need 50 shark specimens to study o...,Math & Science,Health & Life Science,Grades 6-8,Supplies,706.99,2013,2,Friday,Fully Funded,10.0,118,shark +27&quot; - plain 10/pail pack,5.0,112.5,Sargent-Welch,Eastmont Middle School,suburban,31.0,Utah,84094,Sandy,Salt Lake,Canyons School District,Mrs.,2011-10-18

In [18]:
# Question 3:

# Print the number of rows in this new DataFrame df
print(f'Rows: {df.shape[0]}')

Rows: 308831

In [19]:
# Question 4:

# Filter out all records that are not in Utah County. In other words, only Utah County records should remain in the DataFrame df
# Print the number of rows in this reduced DataFrame

df_filtered = df[df['School County'] == 'Utah']
print(f'Rows: {df_filtered.shape[0]}')

Rows: 44873

In [20]:
# Question 5:

# Print the average donation value from this reduced dataset

df_filtered['Donation Amount'].mean()

70.6564961112473

In [21]:
# Question 6:

# Print the median donation value from this reduced dataset

df_filtered['Donation Amount'].median()

25.0

In [22]:
# Question 7:

# Print the donation value skewness from this reduced dataset

df_filtered['Donation Amount'].skew()

9.208363644142237

In [23]:
# Question 8:

# Store df in a new sqlite db called donors_choose.db using the table name donors_choose

conn_write = sqlite3.connect('donors_choose.db')
df_filtered.to_sql(name='donors_choose', con=conn_write, if_exists='replace', index=False)

conn_write.close()

print('Succesfully wrote to DB!')

C:\Users\Acer\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

Succesfully wrote to DB!