### READ ME

Use the code blocks below to answer each quiz question. Only print the output required for each question. Do not edit the comments at the top of each code cell. Otherwise, the auto-grader may misinterpret your results. See Question 0 as an an example of how to complete a task (leave it in your notebook; don't delete it):

In [1]:
# Question 0: Create a DataFrame with three rows and four columns. Name the 
# columns 'Col1', 'Col2', 'Col3', 'Col4'. Create an index for the DataFrame
# and give the rows the index values of 'Row1', 'Row2', 'Row3'. Place a value
# in each column equal to the {ColumnName/RowName}. e.g. Col1/Row1. Print
# the entire DataFrame.

import pandas as pd

df = pd.DataFrame(columns=['Col1', 'Col2', 'Col3', 'Col4'], index=['Row1', 'Row2', 'Row3'])

for col in df:
  for i, value in df[col].items():
    df.at[i, col] = f'{i}/{col}'

df

           Col1       Col2       Col3       Col4
Row1  Row1/Col1  Row1/Col2  Row1/Col3  Row1/Col4
Row2  Row2/Col1  Row2/Col2  Row2/Col3  Row2/Col4
Row3  Row3/Col1  Row3/Col2  Row3/Col3  Row3/Col4

In [11]:
# Question 1: 

# Read each dataset into its own DataFrame; e.g. df_projects, df_resources, df_schools, etc.
# NOTE: donors.db contains a single table called "donors"
# print the columns found in each DataFrame in any order you want

import pandas as pd
import pyodbc
import sqlite3

#donors
conn = sqlite3.connect('donors.db')
df_donors = pd.read_sql(sql="SELECT * FROM donors", con=conn)
print('donors')
print(df_donors.columns)
print('___________________________________')

#donations
df_donations = pd.read_json('donations.json')
print('donations')
print(df_donations.columns)
print('___________________________________')

#insurance
df_insurance = pd.read_csv('insurance.csv')
print('insurance')
print(df_insurance.columns)
print('___________________________________')

#projects
df_projects = pd.read_csv('projects.csv')
print('projects')
print(df_projects.columns)
print('___________________________________')

#resources
df_resources = pd.read_csv('resources.csv')
print('resources')
print(df_resources.columns)
print('___________________________________')

#schools
df_schools = pd.read_csv('schools.csv')
print('schools')
print(df_schools.columns)
print('___________________________________')

#teachers
df_teachers = pd.read_csv('teachers.csv')
print('teachers')
print(df_teachers.columns)
print('___________________________________')

donors
Index(['Donor ID', 'Donor City', 'Donor State', 'Donor Is Teacher'], dtype='object')
___________________________________
donations
Index(['Project ID', 'Donation ID', 'Donor ID',
       'Donation Included Optional Donation', 'Donation Amount',
       'Donor Cart Sequence', 'Donation Received Date'],
      dtype='object')
___________________________________
insurance
Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')
___________________________________
projects
Index(['Project ID', 'School ID', 'Teacher ID',
       'Teacher Project Posted Sequence', 'Project Type', 'Project Title',
       'Project Essay', 'Project Short Description', 'Project Need Statement',
       'Project Subject Category Tree', 'Project Subject Subcategory Tree',
       'Project Grade Level Category', 'Project Resource Category',
       'Project Cost', 'Year', 'Month', 'Weekday', 'Project Current Status',
       'Days to Funded', 'Days Live'],
      dtype='object')
___________________________________
resources
Index(['Project ID', 'Resource Item Name', 'Resource Quantity',
       'Resource Unit Price', 'Resource Vendor Name'],
      dtype='object')
___________________________________
schools
Index(['School ID', 'School Name', 'School Metro Type',
       'School Percentage Free Lunch', 'School State', 'School Zip',
       'School City', 'School County', 'School District'],
      dtype='object')
___________________________________
teachers
Index(['Teacher ID', 'Teacher Prefix', 'Teacher First Project Posted Date'], dtype='object')
___________________________________

In [3]:
# Question 2: 

# Merge the six DataFrames into a single DataFrame called df
# Infer the primary key/foreign key relationships based on connecting matching column ID names
# Print the complete column list of df
# Print the first five records

In [4]:
# Question 3:

# Print the number of rows in this new DataFrame df

3

In [5]:
# Question 4:

# Filter out all records that are not in Utah County. In other words, only Utah County records should remain in the DataFrame df
# Print the number of rows in this reduced DataFrame

In [6]:
# Question 5:

# Print the average donation value from this reduced dataset

In [7]:
# Question 6:

# Print the median donation value from this reduced dataset

In [8]:
# Question 7:

# Print the donation value skewness from this reduced dataset

In [9]:
# Question 8:

# Store df in a new sqlite db called donors_choose.db using the table name donors_choose